.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f2f4f7; /* змінено фон */
  z-index: 10;
}

.container {
  width: 100%;
  max-width: 1440px; /* максимум для великих екранів */
  margin: 0 auto; /* центр по горизонталі */
  padding: 28px 64px; /* базовий паддінг для мобілок */
  display: flex;
  align-items: center;
  justify-content: space-between; /* логотип ліворуч, навігація по центру через абсолют? */
}
/* Logo left */
.logo {
  display: flex;
  align-items: center;
}

/* Navigation centered */
.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 32px;
}

.navLink {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #101828;
  text-decoration: none;
  transition: color 0.2s ease;
}

.navLink:hover {
  color: #e44848;
}

.navLink.active {
  color: #d84343; /* активна сторінка */
}

@media (max-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 28px 64px;
  }
}

@media (max-width: 678px) {
  .container {
    max-width: 678px;
    padding: 28px 32px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 375px;
    padding: 28px 16px;
  }
}
