.form {
  width: 641px;
  padding: 44px 57px;
  width: 641px;

  border: 1px solid #dadde1;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

/* Title */
.form h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #101828;
  margin: 0;
  margin-bottom: 8px; /* ⬅️ відступ до тексту */
}

/* Description */
.form p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #475467;

  margin-bottom: 24px; /* ⬅️ відступ до форми */
}

/* Inputs & textarea */
.form input,
.form textarea {
  width: 100%;
  height: 56px;

  background: #f2f4f7;
  border: none;
  border-radius: 10px;

  padding: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #101828;

  outline: none;

  margin-bottom: 14px; /* ⬅️ відступи в формі */
}

/* Textarea specific */
.form textarea {
  height: 114px;
  resize: none;
}

/* Placeholder */
.form input::placeholder,
.form textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #667085;
}

/* Focus */
.form input:focus,
.form textarea:focus {
  background: #ffffff;
  border: 1px solid #e44848;
}

/* Remove margin after last field */
.form textarea {
  margin-bottom: 0;
}

/* Button */

.form button {
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  border-radius: 200px;
  background: var(--main);
  color: var(--white);
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.form button:hover,
.form button:focus {
  background-color: transparent; /* прозорий фон */
  color: #101828;
  border: 1px solid #e44848; /* залишаємо обводку червоного кольору */
  outline: none;
}

/* Toast */
.toast {
  position: fixed;
  bottom: 24px;
  right: 24px;

  background: #12b76a;
  color: #ffffff;

  padding: 14px 20px;
  border-radius: 8px;

  font-weight: 500;
  font-size: 14px;
  line-height: 150%;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
