/* ================= CONTAINER ================= */
.container {
  width: 100%;
  margin: 48px auto 0;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

@media (max-width: 678px) {
  .container {
    max-width: 678px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 375px;
  }
}

.filters {
  width: 360px;
  background: var(--white);
  border-radius: 10px;
}

/* Blocks */
.block {
  margin-bottom: 32px;
}

/* Titles */
.label {
  font-size: 16px;
  color: var(--text);
  margin-bottom: 8px;
}

.filtersTitle {
  font-weight: 600;
  margin-bottom: 24px;
}

.blockTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 48px;
}

/* Input */
.input {
  width: 100%;
  height: 48px;
  padding: 0 16px;
  border-radius: 10px;
  border: 1px solid #dadde1;
  font-size: 16px;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

/* Options */
.option {
  height: 96px;
  border-radius: 10px;
  border: 1px solid #dadde1;
  background: var(--white);
  cursor: pointer;
  transition: all 0.2s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-size: 14px;
  color: #101828;
}

.option svg {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  fill: none;
}

.option span {
  font-size: 14px;
  line-height: 1.4;
}

/* Hover */
.option:hover {
  border-color: var(--main);
  color: var(--main);
}

/* Active */
.active {
  border-color: var(--main);
  background: rgba(228, 72, 72, 0.1);
  color: var(--main);
}

/* Search button */
.search {
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  border-radius: 200px;
  background: var(--main);
  color: var(--white);
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.search:hover,
.search:focus {
  background-color: transparent; /* прозорий фон */
  color: #101828;
  border: 1px solid #e44848; /* залишаємо обводку червоного кольору */
  outline: none;
}
