.wrapper {
  background: #ffffff;
}
/* HEADER */
.header {
  margin-top: 0;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 8px;
}

.meta {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 8px;
}

.rating,
.location {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  color: #475467;
}

.price {
  font-weight: 600;
  font-size: 24px;
  color: var(--main);
}

/* GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin: 32px 0;
  padding: 0;
}

.galleryItem {
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.galleryItem img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

/* DESCRIPTION */
.description {
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

/* TABS */
.tabs {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid #e4e7ec;
  margin-top: 60px;
}

.tabs button {
  font-weight: 600;
  font-size: 20px;
  padding: 12px 0;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.tabs button.active {
  color: var(--main);
}

.tabs button.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background: #e44848;
}

/* CONTENT */
.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  margin-top: 32px;
}

/* MEDIA */
@media (max-width: 678px) {
  .gallery {
    grid-template-columns: repeat(4, 280px);
    overflow-x: auto;
  }

  .content {
    grid-template-columns: 1fr;
  }
}
