:root {
  --main: #e44848;
  --dark: #101828;
  --text: #475467;
  --bg: #f7f7f7;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: var(--bg);
  color: var(--dark);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* =========================
   Container
========================= */

.container {
  max-width: 1440px;
  padding-left: 64px;
  padding-right: 64px;
}

/* Mobile (375px) */
@media (min-width: 375px) {
  .container {
    max-width: 375px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* Tablet (678px) */
@media (min-width: 678px) {
  .container {
    max-width: 678px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Desktop (1440px) */
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
