.catalogSection {
  width: 100%;
  background: #ffffff;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 48px 64px;
  display: grid;
  grid-template-columns: 360px 1fr;
  gap: 64px;
  box-sizing: border-box;
}

@media (max-width: 1440px) {
  .container {
    padding: 64px;
  }
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 300px 1fr;
    padding: 48px;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    padding: 32px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.loadMore {
  align-self: center;
  padding: 16px 32px;
  border-radius: 200px;
  background: var(--main);
  color: white;
  cursor: pointer;
  border: none;
}
